<div class="row page-row ">
    <div class="container page-container">
        <div class="home-subtitle"><span><a href="/Artists">Artists</a> ></span> <%= @talent["name"] %></div>
        <div class="mce-row artist-about-row">
            <div class="mce-col col-md-6">
                <div class="social-list">
                    <% @talent["social"].each do |social| %>
                        <% if social["site"] == "twitter" %>
                            <a href="https://twitter.com/<%= social["handle"] %>" target="_blank" class="social-links"><i class="fa fa-twitter fa-3x"></i></a>
                        <% elsif social["site"] == "instagram"%>
                            <a href="https://instagram.com/<%= social["handle"] %>" target="_blank" class="social-links"><i class="fa fa-instagram fa-3x"></i></a>
                        <% end %>
                    <% end %>
                </div>    
                <p class="artist-quote"><%= @talent["quote"] %></p>
                <p class="artist-bio"><%= @talent["bio"] %></p>
                
            </div>
                
            <div class="mce-col col-sm-5 col-sm-offset-1"><img src="../artists/<%= @talent["image"] %>" class="artists-page-image" ></div>
            <div style="clear:both;"></div>
        </div>
        <% if @talent["releases"].count > 0 %>
            <div class="mce-row artist-release-row">
                <div class="page-subtitles">Releases</div>
                <div class="artist-releases">
                    <%= render 'artistReleases', a_name: @talent["name"] , page: 1 %>
                </div>
                <div style="clear:both;"></div>
                <div class="release-pages">
                    <ul class="mce-pagination">
                        <% for i in 1..@releasecount %>
                            <li id="pagination<%= i %>"><a data-id=<%= i %> data-artist="<%= @talent["name"] %>"><%= i %></a></li>
                        <% end %>
                    </ul>
                </div>
                
                <div style="clear:both;"></div>
            </div>
        <% end %>
    </div>
</div>

