<!--Default Carousel-->
<div class="container mce-carousel-container">
    <div class="row">
        <!-- The carousel -->
        <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel carousel-animate" data-ride="carousel">
            <!--Title-->
            <div class="main-title">Mind Control Empire</div>
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#transition-timer-carousel" data-slide-to="1"></li>
				<li data-target="#transition-timer-carousel" data-slide-to="2"></li>
				<li data-target="#transition-timer-carousel" data-slide-to="3"></li>
				<li data-target="#transition-timer-carousel" data-slide-to="4"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    
			    <!--SXSW Slide-->
			    <div class="item active">
                    <img class="carousel-img" src="../siteimg/Gandhi-sxsw.png" />
                    <div class="carousel-caption main-carousel-caption">
                        <h3 data-animation="animated bounceInLeft">
                          <span class="icon-container"><img class="carousel-icon" src="../siteimg/sxsw-logo.png" /></span>Gandhi Ali Performing at 2016 SXSW<span></span>
                        </h3>
                        <p data-animation="animated bounceInRight">
                            MCE artist Gandhi Ali will be performing at the 2016 South By SouthWest music festival March 18. Visit <a href="http://www.sxsw.com/music" target="_blank">SXSW Website</a> for more information.
                        </p>
                    </div>
                </div>
                
                <!--DRTY WORKS VOL. 1-->
                <div class="item">
                    <img class="carousel-img" src="../art/DrtyWorkCover.jpg" />
                    <div class="carousel-caption main-carousel-caption">
                        <h3 data-animation="animated bounceInLeft">
                          <span class="icon-container"></span>DRTY WORKS VOL. 1<span></span>
                        </h3>
                        <p data-animation="animated bounceInRight">
                            Releasing 3/15/16 on Spinrilla.
                        </p>
                    </div>
                </div>
                
			    <!--MCE Slides-->
				<div class="item">
                    <img class="carousel-img" src="../siteimg/home1.jpg" />
                    <div class="carousel-caption main-carousel-caption">
                        <h3 data-animation="animated bounceInLeft">
                          <span class="icon-container"><i class="fa fa-microphone"></i></span>Music Production And Management<span></span>
                        </h3>
                        <p data-animation="animated bounceInRight">
                        </p>
                    </div>
                </div>
                
                <div class="item">
                    <img class="carousel-img" src="../siteimg/home2.jpg" />
                    <div class="carousel-caption main-carousel-caption">
                        <h3 data-animation="animated bounceInDown">
                          <span class="icon-container"><i class="fa fa-calendar"></i></span> <span>Production</span>
                        </h3>
                        <p data-animation="animated bounceInUp">
                          With world class beats our production team work closly with the artist to develop their sound.
                        </p>
                    </div>
                </div>
                
                <div class="item">
                    <img class="carousel-img" src="../siteimg/home3.jpg" />
                    <div class="carousel-caption main-carousel-caption">
                        <h3 data-animation="animated zoomInLeft">
                          <span class="icon-container"><i class="fa fa-headphones"></i></span> <span>Artist Management</span>
                        </h3>
                        <p data-animation="animated flipInX">
                          Our Management team brings the world to the artist.
                        </p>
                    </div>
                </div>
                
            </div>

			<!-- Controls -->
			<a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
            
            <!-- Timer "progress bar" -->
            <hr class="transition-timer-carousel-progress-bar animate" />
		</div>
    </div>
</div>
<!--Releases-->
<div class="row home-row back-color-gold">
    <div class="container mce-release-container">
        <div class="home-subtitle">Recent Releases</div>
        <!--Release Carosel-->
        <div class="r-container">
        <div id="releaseCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <% @itemnum = 0 %>
                <% @newreleases.each do |release| %>
                   
                    <div class="item <%= 'active' if @itemnum == 0 %>">
                        <% if release["type"] == "youtube" %>
                            <div class="release-video-card"></div>
                            <div class="carousel-caption release-caption">
                                <div class="col-sm-5 release-video"><object data="https://www.youtube.com/embed/<%= release["url"].split("v=")[1] %>"></object></div>
                                <div class="col-sm-4">
                                    <h3><%= release["artist"] %></h3>
                                    <p><%= release["date"].to_date.strftime('%b %d %Y') %></p>
                                    <p><%= release["title"] %></p>
                                </div>
                            </div>
                        <% elsif release["type"] == "soundcloud-playlist"%>
                            <div class="release-sound-card"></div>
                            <div class="carousel-caption release-caption">
                                <div class="col-sm-5 release-video"><%= raw(release["content"]) %></object></div>
                                <div class="col-sm-4">
                                    <h3><%= release["artist"] %></h3>
                                    <p><%= release["date"].to_date.strftime('%b %d %Y') %></p>
                                    <p><%= release["title"] %></p>
                                </div>
                            </div>
                         <% elsif release["type"] == "sitetrack"%>
                             <div class="release-sound-card"></div>
                             <div class="carousel-caption release-caption">
                                <div class="col-sm-5 release-video">
                                    
                                    <%= image_tag("logoB_text.png", class: "audio-img") %>
                                    <div class="release-card-button">
                                        <a href="Releases/Music?tracktitle=<%= release["title"] %>&artist=<%= release["artist"]%>" class="btn btn-default mce-btn"><i class="fa fa-headphones"></i> Listen</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <h3><%= release["artist"] %></h3>
                                    <p><%= release["date"].to_date.strftime('%b %d %Y') %></p>
                                    <p><%= release["title"] %></p>
                                </div>
                            </div>
                        <% end %>
                    </div>    
                
                    <% @itemnum = @itemnum + 1 %>
                <% end %>
            </div>
            <!-- End Carousel Inner -->
            <ul class="nav nav-pills nav-justified">
                <% @itemnum = 0 %>
                <% @newreleases.each do |release| %>
                    <li data-target="#releaseCarousel" data-slide-to="<%= @itemnum %>" class="<%= 'active' if @itemnum == 0 %>"><a href="#"><%= release["title"] %><small><%= release["artist"] %></small></a></li>
                    <% @itemnum = @itemnum + 1 %>
                <% end %>
                <!--<li data-target="#releaseCarousel" data-slide-to="0" class="active"><a href="#">Real Live<small>GANDHI ALI</small></a></li>-->
            </ul>
        </div>
        </div>
        
    </div>
</div>
<!--Events-->
<div class="row home-row back-color-grey">
    <div class="container">
        <div class="home-subtitle">Upcoming Events</div>
        <% if @newevents.size > 0 %>
            <table class="event-list">
                <% @newevents.each do |event| %>
                    <tr>
                        <td class="event-date"><%= event["date"].to_date.strftime('%b %d %Y') %></td>
                        <td class="event-artist"><div><img src='../artists/<%= event["photo"] %>' alt='<%= event["artistname"] %> photo' class="event-photo"></div><div><%= event["artistname"] %></div></td>
                        <td class="event-name"><%= event["eventname"] %></td>
                        <td class="event-location"><%= event["location"] %></td>
                    </tr>
                <% end %>
            </table>
        <% else %>
            <h3><i class="fa fa-calendar-times-o"></i> More Event Coming Soon...</h3>
        <% end %>
    </div>
    
</div>

<!--Sponsors-->
<div class="sponsors">
    <a href="http://www.dmarcia.com/" target="_blank"><img src="../sponsorimgs/Dmarcia-img.png" class="sponsor-img"></a>
</div>
