<div class="row page-row">
    <div class="container page-container grey-container event-page">
        <div class="home-subtitle">Upcoming Events</div>
        <% if @comingevents.size > 0 %>
            <table class="event-list">
                <% @comingevents.each do |event| %>
                    <tr>
                        <td class="event-date"><%= event["date"].to_date.strftime('%b %d %Y') %></td>
                        <td class="event-artist"><div><img src='../artists/<%= event["photo"] %>' alt='<%= event["artistname"] %> photo' class="event-photo"></div><div><%= event["artistname"] %></div></td>
                        <td class="event-name"><%= event["eventname"] %></td>
                        <td class="event-location"><%= event["location"] %></td>
                    </tr>
                <% end %>
            </table>
        <% else %>
            <h1><i class="fa fa-calendar-times-o"></i> More Event Coming Soon...</h1>
        <% end %>
        
    </div>
</div>
